.about-us {
    background: #00b1b1;
    .section {
        &__text {
        width: 44%;
        float:right;
        margin-top: 163px; }
        &__title {
        margin-bottom: 30px;
        }
        &__description {
            color: $white;
            margin-bottom: 12px;
        }
     
        &__img {
        @include size(55%, 660px);
        margin-top: 50px;
        float: left;
            img { height: 95%;
            }
       }
    }
}
